.movie {
    background-color: darkblue;
}

.movie img {
    width: 100%;
    height: 400px;
}

.movie p {
    padding: 5px;
    color: white;
}

#container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 286px);
    gap: 15px;
    justify-content: center;
}

body {
    background-color: lightcyan;
}
