body {
    margin: 0;
    overflow: hidden;
    background-color: #f0f0f0;
}
button {
    width: 10vw;
    height: 10vw;
    min-width: 50px;
    min-height: 50px;
    cursor: pointer;
    transition: all 0.2s linear;
    font-size: 1vw;
    position: absolute; /* Set initial position */
    left: -200px; /* Initial left position */
    top: -500px; /* Initial top position */
}
