body {
    overflow: hidden;
}

#arrowId {
    top: -100%; /* for the 0.0001 sec there is no animation - hide it */
    width: 200px;
    position: absolute;
    left: 50%;
}

.animate {
    animation-name: down;
    animation-duration: 3s;
}

@keyframes down {
    0% {
        top: 0;
        transform: translateX(-50%) translateY(-100%);
    }

    100% {
        top: 100%;
        transform: translateX(-50%) translateY(0%);
    }
}
