body {
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
    background: #000;
    background-image: url(background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#gameArea {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#player {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
    height: 140px;
    user-select: none;
}

.bullet {
    position: absolute;
    width: 5px;
    height: 20px;
    background: yellow;
}

.alien {
    position: absolute;
    width: 100px;
    height: 100px;
    background: url('alien.png') no-repeat center;
    background-size: contain;
}

#startBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: white;
    color: black;
    cursor: pointer;
    font-size: 24px;
    z-index: 2;
}

#gameOverScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: sans-serif;
    z-index: 4;
}

#gameOverScreen h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

#gameOverScreen h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

#gameOverScreen span {
    font-size: 24px;
    cursor: pointer;
    padding: 10px 20px;
    border: 2px solid white;
}
